
.vs/JBSGenExcel/v14/.suo
JBSGenExcel/bin/Debug/JBSGenExcel.exe
JBSGenExcel/bin/Debug/JBSGenExcel.pdb
JBSGenExcel/bin/Debug/JBSGenExcel.exe.config
JBSGenExcel/bin/Debug/JBSGenExcel.vshost.exe.config
JBSGenExcel/obj/Debug/JBSGenExcel.csproj.FileListAbsolute.txt
JBSGenExcel/obj/Debug/JBSGenExcel.csprojResolveAssemblyReference.cache
JBSGenExcel/obj/Debug/JBSGenExcel.exe
JBSGenExcel/obj/Debug/JBSGenExcel.pdb
JBSGenExcel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/JBSGenExcel/v14/.suo
*.exe
*.pdb
